In [2]:
import pandas as pd

In [5]:
jobs = pd.read_csv('raw_jobs_full.csv')

In [11]:
df = pd.DataFrame(jobs)

In [12]:
df.head()

,title,__CLASS__,latitude,salary_is_predicted,created,redirect_url,adref,salary_max,description,id,...,location.__CLASS__,location.display_name,location.area,category.tag,category.label,category.__CLASS__,company.__CLASS__,company.display_name,contract_type,contract_time
0,Software Engineer,Adzuna::API::Response::Job,38.777448,1,2025-11-26T13:56:02Z,https://www.adzuna.com/land/ad/5515187276?se=4...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiNGlTdGZEVEw4Qkc4W...,141825.45,"Job Description At Boeing, we innovate and col...",5515187276,...,Adzuna::API::Response::Location,"Robertson, Saint Louis County","['US', 'Missouri', 'Saint Louis County', 'Robe...",it-jobs,IT Jobs,Adzuna::API::Response::Category,Adzuna::API::Response::Company,Boeing,NaN,NaN
1,Lead Software Engineer,Adzuna::API::Response::Job,38.777448,1,2025-11-26T13:56:01Z,https://www.adzuna.com/land/ad/5515187250?se=4...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiNGlTdGZEVEw4Qkc4W...,159637.42,"Job Description At Boeing, we innovate and col...",5515187250,...,Adzuna::API::Response::Location,"Robertson, Saint Louis County","['US', 'Missouri', 'Saint Louis County', 'Robe...",it-jobs,IT Jobs,Adzuna::API::Response::Category,Adzuna::API::Response::Company,Boeing,NaN,NaN
2,Lead Software Engineer,Adzuna::API::Response::Job,38.726160,1,2025-11-26T13:56:01Z,https://www.adzuna.com/land/ad/5515187256?se=4...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTUxNTE4NzI1NiIsI...,164056.02,"Job Description At Boeing, we innovate and col...",5515187256,...,Adzuna::API::Response::Location,"Maryland Heights, Saint Louis County","['US', 'Missouri', 'Saint Louis County', 'Mary...",it-jobs,IT Jobs,Adzuna::API::Response::Category,Adzuna::API::Response::Company,Boeing,NaN,NaN
3,Software Engineer–Systems (Systems),Adzuna::API::Response::Job,38.741013,1,2025-11-24T07:32:20Z,https://www.adzuna.com/land/ad/5511268996?se=4...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiNGlTdGZEVEw4Qkc4W...,159413.03,"Job Description At Boeing, we innovate and col...",5511268996,...,Adzuna::API::Response::Location,"Kinloch, Saint Louis County","['US', 'Missouri', 'Saint Louis County', 'Kinl...",it-jobs,IT Jobs,Adzuna::API::Response::Category,Adzuna::API::Response::Company,BOEING,NaN,NaN
4,"Software Engineer (Experienced, Senior)",Adzuna::API::Response::Job,38.777448,1,2025-11-24T07:32:22Z,https://www.adzuna.com/land/ad/5511269101?se=4...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTUxMTI2OTEwMSIsI...,150238.75,"Job Description At Boeing, we innovate and col...",5511269101,...,Adzuna::API::Response::Location,"Robertson, Saint Louis County","['US', 'Missouri', 'Saint Louis County', 'Robe...",it-jobs,IT Jobs,Adzuna::API::Response::Category,Adzuna::API::Response::Company,BOEING,NaN,NaN

In [10]:
df = pd.json_normalize(jobs)
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [9]:
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]